
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="full-table">
    <!-- Position Column -->
    <ng-container matColumnDef="mark">
      <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mark}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="model" class="header-table">
      <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="statusTravel" class="header-table">
        <mat-header-cell *matHeaderCellDef class="header-table"> Estado Del Viaje </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.travelEquipmentDTOs[0].statusTravel}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="statusEquipment" class="header-table">
        <mat-header-cell *matHeaderCellDef class="header-table"> Estado Del Equipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].statusTravel}} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  
