<header>
    
    <!--MATERIAL TOOL BAR OPCIONES-->

    <mat-toolbar class="toolbar-main">
        <mat-toolbar-row>
          <span><img class="logo-img" src="../../../assets/Logo Box Lavender Blue Alt.png" alt=""></span>
          <span class="spacer"></span>
          <button mat-icon-button class="icon" aria-label="icon-button with menu icon" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><mat-icon class="toolbar-icon">help</mat-icon>Ayuda</button>
                <button mat-menu-item><mat-icon class="toolbar-icon">logout</mat-icon>Cerrar Sesión</button>
              </mat-menu>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <!--MATERIAL TABS OPCIONES-->

      <mat-tab-group mat-align-tabs="center" color="accent">
        <mat-tab label="Ordenar Viaje">
            <app-ordenar-viaje></app-ordenar-viaje>
        </mat-tab>
        <mat-tab label="Estado De Viajes">
            <app-estado-viajes></app-estado-viajes>
        </mat-tab>
        <mat-tab label="Historial De Viajes">
            <app-historial-viajes></app-historial-viajes>
        </mat-tab>
      </mat-tab-group>
</header>