
<!-- 
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field> -->


<mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <!-- Marca -->
    <ng-container matColumnDef="mark" class="tabla">
      <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mark}} </mat-cell>
    </ng-container>
  
    <!-- Modelo -->
    <ng-container matColumnDef="model" class="tabla">
      <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <!-- Estado del Viaje -->
    <ng-container matColumnDef="statusTravel" class="tabla">
        <mat-header-cell *matHeaderCellDef> Estado Del Viaje </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[element.travelEquipmentDTOs.length - 1].statusTravel | statusTravelPipe}} </mat-cell>
      </ng-container>

      <!-- Estado del Equipo -->
      <ng-container matColumnDef="statusEquipment" class="tabla">
        <mat-header-cell *matHeaderCellDef> Estado Del Equipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[element.travelEquipmentDTOs.length - 1].statusTravel | statusEquipment}} </mat-cell>
      </ng-container>

      <!-- Fecha de Reporte -->
      <ng-container matColumnDef="date" class="tabla">
        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operationDate.slice(0,10)}} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

<mat-paginator [pageSizeOptions]="[5,7]"
showFirstLastButtons 
aria-label="Viajes">
</mat-paginator>

<div class="refresh">
  <button (click)="refresh()" mat-mini-fab color="accent" aria-label="Refresh Button" matTooltip="Actualizar">
    <mat-icon>refresh</mat-icon>
  </button>
</div>