<main class="main-container, styler">
    <mat-toolbar class="login-toolbar">
        <span class="login-title">Todo IT</span>
    </mat-toolbar>

    <h2>Ingresa a tu <br><span style="color:#E73651;">Cuenta</span></h2>


    <form class="form-fields" [formGroup]="loginform" autocomplete="off">
         <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password"  placeholder="Contraseña" required>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        
        <button (click)="login()" class="boton-orden" mat-raised-button style="background-color:#E73651">Login</button>
    </form>
    
</main>
